@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  font-family: 'Bangers', cursive, sans-serif;
  background-color: #949494;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

header {
  background-image: url('./images/splash.jpeg');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 100%;
}

.logo {
  flex: 0 0 auto;
  max-width: 50px;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.header-title {
  text-align: center;
  padding: 20px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.signup-form {
  max-width: 400px;
  width: 90%;
  margin: 20px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex-basis: 48%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  width: 100%;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #333;
  text-decoration: none;
}

@media (min-width: 768px) {
  main {
    align-items: center;
  }

  .signup-form {
    width: 60%;
    padding: 20px;
  }

  .form-row {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .form-group {
    flex-basis: calc(50% - 10px);
  }
  
  
}
